# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.turbo/
*.tsbuildinfo

# Prisma generated client
**/prisma/generated/

# Env / secrets (NUNCA versionar credenciales)
.env
.env.*
!.env.example

# Tests / coverage
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
